.btn {
    border-radius: 20px;

    &-primary {
        @apply bg-indigo-600;

        &:hover,
        &:focus {
            outline: none;
            @apply bg-indigo-800;
        }
    }

    &-lg {
        border-radius: 25px;
        @apply px-8;
        letter-spacing: 0.5px;
    }
}
